body {
  padding: 20px;
  width: 297mm;
  height: 210mm
}
 
.header span {
  margin-right: 10px
}
   
table tr td:first-child {
  font-weight: 700	
}

.header {
  margin-bottom: 20px
}

.number {
  background-color: #70AD47;
  padding: 8px 0;
  color: white;
  font-size: 40px;
  font-weight: 700;
  width: 40mm;
  display: inline-block;
  text-align: center
}

img {
  height:70px;
  vertical-align: top
}

.rout {
  font-size: 30px
}
	
table {
  width: 45%;
  border-collapse: collapse
}

table tr td {
  padding: 10px;
}

.hours {
  background-color: #E1E1E1
}

section span {
  padding: 10px 10px 10px 0;
  display: inline-block;
  font-weight: bold
}

section:last-child {
  padding-bottom: 15px
}

caption {
  text-align: left;
  padding: 10px;
  font-weight: 700;
  width: 100%;
  background-color: #70AD47;
  color: white;
  font-size:18pt;
}

